    body {
        background-color: rgb(228, 160, 83);

    }
    button {
        background-color: rgb(0, 0, 0);
        width: 100px;
        height: 50px;
    }
    #contactme {
        
        color: rgb(255, 255, 255);
    
    }
    ul {
        text-align: left;
    }

    #Aboutmylife {
    text-align: right;
    }
    img {
        border-radius: 5px;
    }